.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:blueviolet;
    line-height: 3;
    background-color: white;
}

.h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: lighter;
}

.h4{
color:red;
font-style: oblique;
}

#camera{
    width:500px;
    height: 400px;
    border:1px solid red;
}

img{
    width:38%;
    border-radius: 4px;
    padding:10px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}


img:hover{
    border-radius: 140px;

}

.column{
    display:inline;
    padding:10px;
}